manifest {
    name = 'FishEvoLab Genome Assembly Pipeline'
    author = 'Julian Gallego'
    homePage = 'https://github.com/JulianGallegoG/genome-assembly-pipeline'
    description = 'Genome assembly pipeline using HiFi and Hi-C data'
    mainScript = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version = '0.1.0'
}

// Default workflow parameters
params {
    // Workflow inputs
    input              = null      // Path to input YAML file
    steps             = 'preprocess, '

    // Workflow outputs
    outdir            = 'results'
    publish_mode      = 'copy'     // values: 'symlink', 'copy'

    // Tool specific
    // MERYL
    meryl.kmer_size        = 31
    // GENESCOPEFK
    genomescope2.kmer_size  = 31
}

// Set container registry information
apptainer.registry   = 'quay.io'
singularity.registry = 'quay.io'

includeConfig 'conf/nf-core-defaults.config'

// Set bash options
process.shell = """\
bash

set -e # Exit if a tool returns a non-zero status/exit code
set -u # Treat unset variables and parameters as an error
set -o pipefail # Returns the status of the last command to exit with a non-zero status or zero if all successfully execute
set -C # No clobber - prevent output redirection from overwriting files.
"""

// Profile configurations
profiles {
    debug {
        process.beforeScript = 'env'
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }

    conda {
        conda.enabled = true
    }

    test {
        includeConfig 'conf/test.config'
    }
}

// Include module-specific configurations
includeConfig 'conf/modules.config'

// Execution reports
def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.mmd"
}
