// Test config - Tiny dataset
resume = true

params {
    // Basic pipeline parameters
    input    = "$projectDir/test/data/test_Dmelanogaster.yml"
    steps    = 'prepare_input,preprocess_reads,kmer_analysis,hifiasm_assembly'
    outdir   = "results"
    publish_mode      = 'copy'
    meryl.kmer_size   = 14
    genomescope2.kmer_size = 14
    busco.lineages = 'eukaryota_odb10'
}

process {
    // Default process settings for testing
    cpus   = 1
    memory = 6.GB
    time   = 10.m

    resourceLimits = [
        cpus:6,
        memory: 12.GB,
        time: 1.h
    ]

    // Standard process labels with resource specifications
    withLabel: process_low {
        cpus   = 2
        memory = 4.GB
        time   = 10.m
    }

    withLabel: process_medium {
        cpus   = 4
        memory = 8.GB
        time   = 30.m
    }

    withLabel: process_high {
        cpus   = 4
        memory = 8.GB
        time   = 1.h
    }

    withLabel: process_long {
        time   = 1.h
    }

    withLabel: process_high_memory {
        memory = 16.GB
    }
}
